#header-area{
    width:100%;
    height:260px;
    background-color:#607de3;
}
.banner-area{
    display: flex;
    justify-content: center;
}

.banner-area a{
    font-size:2em;
    padding:106px;
}

@media screen and (max-width: 680px) {
    .banner-area a {
      font-size: 1.7rem;
    }
  } 